meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width,initial-scale=1.0,minimum-scale=1.0")
meta(name="format-detection", content="telephone=no")
meta(name="keywords", content="")
meta(name="description", content="周の写真ポートフォリオサイトです。")
meta(name="twitter:card", content="summary_large_image")
//- サイトのカバー画像（大きめ）
//- twitter:title/twitter:description/twitter:imageの3つは、OpenGraphの項目と併用できます。すでにOpenGraphに設定されている項目がある場合は、Twitter側を省略できます。
meta(property="og:type",content="website")
meta(property="og:site_name", content="Philosophia｜Amane Portfolio site")
meta(property="og:title", content="Philosophia｜Amane Portfolio site")
//- サイト自体のタイトル
meta(property="og:description", content="周の写真ポートフォリオサイトです。")
//- サイトの説明
meta(property="og:url", content="http://click.ecc.ac.jp/ecc/msatou/Philosophia/")
//- サイトのURL
meta(property="og:image", content="https://live.staticflickr.com/65535/51278435661_86c4160ce6_k.jpg")
//- サイトのカバー画像
meta(property="og:image:type", content="image/jpeg")
meta(property="og:image:width", content="600")
meta(property="og:image:height", content="400")
meta(property="og:type" content="website")
link(rel="preconnect",href="https://fonts.gstatic.com")
link(href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap",rel="stylesheet")
link(href="https://fonts.googleapis.com/css2?family=Rajdhani&family=Sacramento&display=swap",rel="stylesheet")
link(href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap",rel="stylesheet")
link(rel="shortcut icon", href="img/favicon_1.png", type="image/vnd.microsoft.icon")
link(rel="apple-touch-icon", href="img/favicon_2.png")