nav 
	ul
		li.nav__link--icon
			a(href="index.html",target="page")
				svg(version="1.1",xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink",x="0px",y="0px",viewBox="0 0 512 512",style="enable-background:new 0 0 512 512;",xml:space="preserve")
					g
						path(d="M453.8,170.7L283.2,10.8c-15.3-14.3-39.1-14.3-54.4,0L58.2,170.7c-8,7.5-12.6,18-12.6,29v272.6 c0,22,17.8,39.8,39.8,39.8h120.9V395.1h99.3V512h120.9c21.9,0,39.8-17.8,39.8-39.8V199.7C466.4,188.7,461.8,178.2,453.8,170.7z").svg_icon
		li.nav__link--txt
			a(href="biography.html",target="page")
				span Biography
		li.nav__link--txt
			a(href="about.html",target="page")
				span About
		li.nav__link--icon
			svg(version="1.1",xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink",x="0px",y="0px",viewBox="0 0 512 381.2",style="enable-background:new 0 0 512 381.2;",xml:space="preserve")
				g
					path(d="M512,190.6L277,0v103.6c-17.3,0-36.4,0-57.5,0C10.9,103.6-29.8,257,18.1,369.7C27.7,266.6,160.2,269,255.5,269 c7.2,0,14.4,0,21.6,0v112.2L512,190.6z").svg_icon