a(href="#").scrollTop.hover#scrollTopRmv
	svg(version="1.1",xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink",x="0px",y="0px",viewBox="0 0 36.3 109.8" style="enable-background:new 0 0 36.3 109.8;",xml:space="preserve")
		polyline(class="scrollTopAllow",points="35.9,36.6 0.5,1.2 0.5,109.8 ")
//- img(src="img/arrow.svg")